types-setuptools==82.0.0.20260210
pip==24.1.2
setuptools==75.2.0
requirements-parser==0.9.0
mypy_extensions==1.1.0
pytokens==0.4.1
optax==0.2.2
nvidia-cuda-nvcc-cu12==12.9.86
mujoco-mjx==3.2.7
mujoco==3.2.7
jaxlib==0.5.0
black==26.3.1
jedi==0.19.2
toolz==1.1.0
brax==0.10.5
pathspec==1.0.4
pupperv3_mjx==0.1
chex==0.1.90
dm-env==1.6
orbax==0.1.9
jax-cuda12-pjrt==0.5.0
jax-cuda12-plugin==0.5.0
flask-cors==6.0.2
orbax-checkpoint==0.11.10
flax==0.10.2
pytinyrenderer==0.0.14
jax==0.5.0
jaxopt==0.8.5
absl-py==2.4.0
tensorboardX==2.6.5
tokenize_rt==6.2.0
jax-triton==0.2.0
trimesh==4.11.5
mediapy==1.2.6
ml_collections==1.1.0
glfw==2.10.0
google-colab==1.0.0
Flask==3.1.3
babel==2.18.0
tensorflow_decision_forests==1.12.0
opencv-contrib-python==4.13.0.92
PyWavelets==1.9.0
uri-template==1.3.0
nvidia-cuda-runtime-cu12==12.8.90
inflect==7.5.0
typing_extensions==4.15.0
stumpy==1.13.0
packaging==26.0
pydot==4.0.1
tcmlib==1.4.1
etils==1.14.0
pyasn1==0.6.3
snowballstemmer==3.0.1
websocket-client==1.9.0
google-cloud-iam==2.22.0
prettytable==3.17.0
sortedcontainers==2.4.0
statsmodels==0.14.6
libraft-cu12==26.2.0
typeguard==4.5.1
ipython==7.34.0
jsonschema-specifications==2025.9.1
tblib==3.2.2
plum-dispatch==2.8.0
array_record==0.8.3
pydantic==2.12.3
google-auth-httplib2==0.3.1
blinker==1.9.0
cachetools==6.2.6
param==2.3.3
wcwidth==0.6.0
tensorboard==2.19.0
rapids-logger==0.2.3
sphinxcontrib-applehelp==2.0.0
albucore==0.0.24
pygit2==1.19.2
gym-notices==0.1.0
jupyter_server==2.14.0
grpcio-status==1.71.2
keyrings.google-artifactregistry-auth==1.1.2
nvidia-cublas-cu12==12.8.4.1
panel==1.8.10
propcache==0.4.1
distributed==2026.1.1
beartype==0.22.9
spint==1.0.7
access==1.1.10.post3
Bottleneck==1.4.2
nibabel==5.4.2
tf_keras==2.19.0
google-auth-oauthlib==1.3.1
python-dotenv==1.2.2
google-ai-generativelanguage==0.6.15
tzdata==2026.1
langgraph-sdk==0.3.13
webcolors==25.10.0
google-cloud-monitoring==2.30.0
peft==0.18.1
prophet==1.3.0
pytensor==2.38.2
pyroaring==1.0.4
alembic==1.18.4
Mako==1.3.10
safetensors==0.7.0
grpcio==1.80.0
bqplot==0.12.45
onemkl-license==2025.3.1
websockets==15.0.1
giddy==2.3.6
blobfile==3.2.0
affine==2.4.0
tzlocal==5.3.1
cvxopt==1.3.2
google-cloud-functions==1.23.0
ipython-sql==0.5.0
google-cloud-appengine-logging==1.9.0
bokeh==3.8.2
lxml==6.0.3
imbalanced-learn==0.14.1
mmh3==5.2.1
simsimd==6.5.16
tqdm==4.67.3
cudf-polars-cu12==26.2.1
wasabi==1.1.3
ImageIO==2.37.3
pyerfa==2.0.1.5
chardet==5.2.0
strictyaml==1.7.3
fiona==1.10.1
opt_einsum==3.4.0
orjson==3.11.8
weasel==1.0.0
langsmith==0.7.30
beautifulsoup4==4.13.5
Markdown==3.10.2
tifffile==2026.3.3
graphviz==0.21
opencv-python-headless==4.13.0.92
cons==0.4.7
cupy-cuda12x==14.0.1
libkvikio-cu12==26.2.0
branca==0.8.2
spreg==1.9.0
fqdn==1.5.1
xarray==2025.12.0
aiohttp==3.13.5
gymnasium==1.2.3
torchaudio==2.10.0+cu128
confection==1.3.3
tomlkit==0.13.3
pluggy==1.6.0
music21==9.9.1
ratelim==0.1.6
ipyleaflet==0.20.0
slicer==0.0.8
jupyterlab_pygments==0.3.0
google-cloud-dataproc==5.26.0
fastapi==0.135.3
google-cloud-spanner==3.64.0
soxr==1.0.0
fastlite==0.2.4
nvidia-libnvcomp-cu12==5.1.0.21
pygame==2.6.1
tensorboard-data-server==0.7.2
ipywidgets==7.7.1
matplotlib-inline==0.2.1
joblib==1.5.3
charset-normalizer==3.4.7
gast==0.7.0
Jinja2==3.1.6
keras-hub==0.26.0
opentelemetry-exporter-gcp-trace==1.11.0
jupyter-leaflet==0.20.0
spacy-legacy==3.0.12
xyzservices==2026.3.0
xarray-einstats==0.10.0
traitlets==5.7.1
pandas-gbq==0.30.0
pandas-stubs==2.2.2.240909
platformdirs==4.9.6
zict==3.0.0
Werkzeug==3.1.8
fasttransform==0.0.2
numba-cuda==0.22.2
nvidia-nccl-cu12==2.27.5
pandas==2.2.2
PuLP==3.3.0
frozenlist==1.8.0
arviz==0.22.0
proto-plus==1.27.2
logical-unification==0.4.7
more-itertools==10.8.0
langgraph-prebuilt==1.0.9
zipp==3.23.0
python-utils==3.9.1
widgetsnbextension==3.6.10
multidict==6.7.1
nvidia-cufile-cu12==1.13.1.3
nbformat==5.10.4
opentelemetry-sdk==1.38.0
libucx-cu12==1.19.0
pysal==25.7
inequality==1.1.2
semantic-version==2.10.0
torchtune==0.6.1
psygnal==0.15.1
rapids-dask-dependency==26.2.0
geographiclib==2.1
proglog==0.1.12
termcolor==3.3.0
webencodings==0.5.1
hpack==4.1.0
filelock==3.25.2
sympy==1.14.0
moviepy==1.0.3
ormsgpack==1.12.2
click-plugins==1.1.1.2
uvicorn==0.44.0
duckdb==1.3.2
natsort==8.4.0
tinycss2==1.4.0
google-adk==1.29.0
isoduration==20.11.0
albumentations==2.0.8
types-pytz==2026.1.1.20260408
brotli==1.2.0
scipy==1.16.3
betterproto==2.0.0b6
importlib_resources==6.5.2
debugpy==1.8.15
pytest==8.4.2
openai==2.31.0
pandocfilters==1.5.1
yfinance==0.2.66
pandas-datareader==0.10.0
easydict==1.13
cycler==0.12.1
wheel==0.46.3
antlr4-python3-runtime==4.9.3
imageio-ffmpeg==0.6.0
kiwisolver==1.5.0
tweepy==4.16.0
preshed==3.0.13
typer==0.24.1
watchdog==6.0.0
shap==0.51.0
nx-cugraph-cu12==26.2.0
grpc-interceptor==0.15.4
click==8.3.2
vega-datasets==0.9.0
pycocotools==2.0.11
rasterstats==0.20.0
cudf-cu12==26.2.1
triton==3.6.0
prometheus_client==0.25.0
tensorflow-datasets==4.9.9
jupytext==1.19.1
tensorstore==0.1.82
nvidia-cusolver-cu12==11.7.3.90
mdurl==0.1.2
cffi==2.0.0
fastprogress==1.1.5
python-multipart==0.0.26
pyperclip==1.11.0
mapclassify==2.10.0
curl_cffi==0.15.0
wurlitzer==3.1.1
torchsummary==1.5.1
zstandard==0.25.0
nest-asyncio==1.6.0
aiohappyeyeballs==2.6.1
librosa==0.11.0
watchfiles==1.1.1
multipledispatch==1.0.0
tables==3.10.2
pillow==11.3.0
aiosqlite==0.22.1
partd==1.4.2
google-resumable-media==2.8.2
opentelemetry-exporter-gcp-logging==1.11.0a0
promise==2.3
numexpr==2.14.1
wordcloud==1.9.6
mlxtend==0.23.4
opentelemetry-semantic-conventions==0.59b0
nbconvert==7.17.1
psycopg2==2.9.11
langgraph==1.1.6
spopt==0.7.0
attrs==26.1.0
psutil==5.9.5
pyarrow==18.1.0
tensorflow-text==2.19.0
tiktoken==0.12.0
jieba==0.42.1
huggingface_hub==1.10.1
python-json-logger==4.1.0
momepy==0.11.0
argon2-cffi-bindings==25.1.0
cligj==0.7.2
defusedxml==0.7.1
google-cloud-dataplex==2.18.0
cuda-core==0.3.2
cyipopt==1.5.0
astropy-iers-data==0.2026.4.6.0.54.57
roman-numerals==4.1.0
jsonpatch==1.33
importlib_metadata==8.7.1
dask-cuda==26.2.0
stanio==0.5.1
six==1.17.0
optree==0.19.0
nvidia-nvtx-cu12==12.8.90
sqlparse==0.5.5
atpublic==5.1
wrapt==2.1.2
python-dateutil==2.9.0.post0
pydub==0.25.1
tokenizers==0.22.2
parsy==2.2
hyperframe==6.1.0
jupyter-events==0.12.0
jsonpointer==3.1.1
wandb==0.25.1
dm-tree==0.1.10
tensorflow-hub==0.16.1
google-cloud-bigquery-connection==1.21.0
cvxpy==1.6.7
opentelemetry-resourcedetector-gcp==1.11.0a0
sphinxcontrib-htmlhelp==2.1.0
GDAL==3.8.4
et_xmlfile==2.0.0
deprecation==2.1.0
ale-py==0.11.2
notebook_shim==0.2.4
mpmath==1.3.0
decorator==4.4.2
langgraph-checkpoint==4.0.1
uuid_utils==0.14.1
gdown==5.2.1
oauth2client==4.1.3
jupyter_kernel_gateway==2.5.2
google-cloud-logging==3.15.0
treescope==0.1.10
pyviz_comms==3.0.6
docutils==0.21.2
toml==0.10.2
tensorflow==2.19.0
google-cloud-firestore==2.26.0
dataproc-spark-connect==1.1.0
rfc3986-validator==0.1.1
splot==1.1.7
pyomo==6.10.0
colorlover==0.3.0
immutabledict==4.3.1
cramjam==2.11.0
greenlet==3.4.0
pyparsing==3.3.2
opentelemetry-exporter-otlp-proto-common==1.38.0
numba==0.60.0
pydantic-settings==2.13.1
smart_open==7.5.1
oauthlib==3.3.1
earthengine-api==1.7.21
folium==0.20.0
nvidia-nvshmem-cu12==3.4.5
certifi==2026.2.25
libcuvs-cu12==26.2.0
h11==0.16.0
geopandas==1.1.3
gitdb==4.0.12
argon2-cffi==25.1.0
distributed-ucxx-cu12==0.48.0
dill==0.3.8
sphinxcontrib-jsmath==1.0.1
cucim-cu12==26.2.0
nvidia-cuda-cupti-cu12==12.8.90
python-box==7.4.1
diffusers==0.37.1
nvidia-cuda-cccl-cu12==12.9.27
simple-parsing==0.1.8
altair==5.5.0
ucxx-cu12==0.48.0
en_core_web_sm==3.8.0
torch==2.10.0+cu128
matplotlib-venn==1.1.2
opentelemetry-exporter-gcp-monitoring==1.11.0a0
tabulate==0.9.0
tobler==0.14.0
backcall==0.2.0
jsonschema==4.26.0
pickleshare==0.7.5
nvtx==0.2.15
segregation==2.5.4
umf==1.0.3
cuda-pathfinder==1.5.2
grpc-google-iam-v1==0.14.4
spacy==3.8.14
gradio_client==1.14.0
kagglehub==1.0.0
grpclib==0.4.9
murmurhash==1.0.15
rfc3987-syntax==1.1.0
tf-slim==1.1.0
cufflinks==0.17.3
gspread-dataframe==4.0.0
Pygments==2.20.0
libclang==18.1.1
PyGObject==3.48.2
google-api-python-client==2.194.0
frozendict==2.4.7
requests==2.32.4
raft-dask-cu12==26.2.0
polars==1.35.2
msgpack==1.1.2
GitPython==3.1.46
google-api-core==2.30.3
dlib==19.24.6
xlrd==2.0.2
mistune==3.2.0
overrides==7.7.0
httpx-sse==0.4.3
patsy==1.0.2
typing-inspection==0.4.2
nvidia-cufft-cu12==11.3.3.83
sentence-transformers==5.4.0
cymem==2.0.13
markdown-it-py==4.0.0
tensorflow-probability==0.25.0
plotly==5.24.1
python-snappy==0.7.3
pylibcudf-cu12==26.2.1
urllib3==2.5.0
html5lib==1.1
highspy==1.14.0
editdistance==0.8.1
lark==1.3.1
referencing==0.37.0
pydotplus==2.0.2
pyspark==4.0.2
Cython==3.0.12
yarl==1.23.0
google-cloud-datastore==2.24.0
google-cloud-bigquery==3.41.0
gin-config==0.5.0
pointpats==2.5.5
google-auth==2.47.0
opentelemetry-exporter-otlp-proto-http==1.38.0
scooby==0.11.0
sphinxcontrib-devhelp==2.0.0
nvidia-ml-py==13.595.45
terminado==0.18.1
sniffio==1.3.1
openpyxl==3.1.5
simplejson==3.20.2
libcuml-cu12==26.2.0
jupyter-console==6.6.3
pyproj==3.7.2
PyOpenGL==3.1.10
parso==0.8.6
CacheControl==0.14.4
dopamine_rl==4.1.2
pyshp==3.0.3
kaggle==2.0.1
pyOpenSSL==24.2.1
starlette==0.52.1
yellowbrick==1.5
pycparser==3.0
imutils==0.5.4
fastai==2.8.7
plotnine==0.14.5
notebook==6.5.7
google-cloud-secret-manager==2.27.0
geemap==0.37.2
tenacity==9.1.4
threadpoolctl==3.6.0
audioread==3.1.0
rmm-cu12==26.2.0
h5netcdf==1.8.1
spaghetti==1.7.6
jeepney==0.9.0
arrow==1.4.0
torchcodec==0.10.0+cu128
cloudpathlib==0.23.0
srsly==2.5.3
missingno==0.5.2
jupyter_client==7.4.9
blis==1.3.3
protobuf==5.29.6
scikit-learn==1.6.1
jsonpickle==4.1.1
jaraco.context==6.1.2
flatbuffers==25.12.19
requests-oauthlib==2.0.0
rtree==1.4.1
community==1.0.0b1
kagglesdk==0.1.18
python-fasthtml==0.12.50
itsdangerous==2.2.0
osqp==1.1.1
anywidget==0.9.21
catalogue==2.0.10
google-genai==1.68.0
multitasking==0.0.12
Sphinx==8.2.3
ipykernel==6.17.1
Send2Trash==2.1.0
SecretStorage==3.5.0
nbclassic==1.3.3
sentencepiece==0.2.1
entrypoints==0.4
soupsieve==2.8.3
pylibcugraph-cu12==26.2.0
transformers==5.0.0
hf-xet==1.4.3
PySocks==1.7.1
locket==1.0.0
spanner-graph-notebook==1.1.8
ydf==0.15.0
ipyparallel==8.8.0
blosc2==4.1.2
pexpect==4.9.0
libpysal==4.14.1
sklearn-pandas==2.2.0
uvloop==0.22.1
pyasn1_modules==0.4.2
matplotlib==3.10.0
pylibraft-cu12==26.2.0
torchvision==0.25.0+cu128
rpy2==3.5.17
torchao==0.10.0
jupyter_server_terminals==0.5.4
pydata-google-auth==1.9.1
seaborn==0.13.2
einops==0.8.2
pooch==1.9.0
geopy==2.4.1
google-cloud-trace==1.19.0
uritemplate==4.2.0
quantecon==0.11.2
annotated-doc==0.0.4
ibis-framework==9.5.0
pydantic_core==2.41.4
keras-nlp==0.26.0
PyYAML==6.0.3
google-cloud-speech==2.38.0
sklearn-compat==0.1.5
geocoder==1.38.1
fastjsonschema==2.21.2
rasterio==1.5.0
python-slugify==8.0.4
astunparse==1.6.3
googleapis-common-protos==1.74.0
idna==3.11
opentelemetry-proto==1.38.0
google-cloud-aiplatform==1.147.0
timm==1.0.26
xxhash==3.6.0
jiter==0.14.0
progressbar2==4.5.0
db-dtypes==1.5.1
prompt_toolkit==3.0.52
gcsfs==2025.3.0
ruff==0.15.10
tsfresh==0.21.1
Authlib==1.6.9
google-cloud-storage==3.10.1
cloudpickle==3.1.2
lazy-loader==0.5
nvidia-nvjitlink-cu12==12.8.93
spacy-loggers==1.0.5
networkx==3.6.1
astropy==7.2.0
sphinxcontrib-serializinghtml==2.0.0
fastdownload==0.0.7
h2==4.3.0
ipython-genutils==0.2.0
sqlglot==25.20.2
tbb==2022.3.1
fsspec==2025.3.0
hdbscan==0.8.42
miniKanren==1.0.5
cuda-bindings==12.9.4
namex==0.1.0
ml_dtypes==0.5.4
cuda-python==12.9.4
nvidia-nvimgcodec-cu12==0.7.0.11
xgboost==3.2.0
cmake==3.31.10
eerepr==0.1.2
rich==13.9.4
nvidia-cusparse-cu12==12.5.8.93
spglm==1.1.0
mizani==0.13.5
google-cloud-discoveryengine==0.13.12
aiofiles==24.1.0
narwhals==2.19.0
cuvs-cu12==26.2.0
stringzilla==4.6.0
nltk==3.9.1
libucxx-cu12==0.48.0
uc-micro-py==2.0.0
langchain==1.2.15
dask-cudf-cu12==26.2.1
nvidia-cusparselt-cu12==0.7.1
smmap==5.0.3
textblob==0.19.0
annotated-types==0.7.0
tensorflow-metadata==1.17.3
cmdstanpy==1.3.0
httpcore==1.0.9
pymc==5.28.4
datasets==4.0.0
opentelemetry-api==1.38.0
future==1.0.0
pycairo==1.29.0
polars-runtime-32==1.35.2
lightgbm==4.6.0
opencv-python==4.13.0.92
pyzmq==26.2.1
httplib2==0.31.2
google-cloud-audit-log==0.5.0
apswutils==0.1.2
contourpy==1.3.3
gym==0.25.2
keyring==25.7.0
typer-slim==0.24.0
scs==3.2.11
googledrivedownloader==1.1.0
thinc==8.3.13
ffmpy==1.0.0
humanize==4.15.0
PyDrive2==1.21.3
intel-cmplr-lib-ur==2025.3.3
py4j==0.10.9.9
google==3.0.0
nvidia-curand-cu12==10.3.9.90
colorcet==3.1.0
httpx==0.28.1
keras==3.13.2
tornado==6.5.1
distro==1.9.0
google-cloud-core==2.5.1
clarabel==0.11.1
cuml-cu12==26.2.0
linkify-it-py==2.1.0
google-cloud-language==2.20.0
librmm-cu12==26.2.0
langchain-core==1.2.28
nvidia-cuda-nvrtc-cu12==12.8.93
requests-toolbelt==1.0.0
portpicker==1.5.2
google-generativeai==0.8.6
jupyter_core==5.9.1
sentry-sdk==2.57.0
docstring_parser==0.17.0
google-cloud-translate==3.26.0
aiosignal==1.4.0
treelite==4.7.0
google-cloud-resource-manager==1.17.0
shellingham==1.5.4
google-cloud-pubsub==2.37.0
alabaster==1.0.0
grain==0.2.16
httptools==0.7.1
py-cpuinfo==9.0.0
rsa==4.9.1
intel-openmp==2025.3.3
ndindex==1.10.1
ipyfilechooser==0.6.0
text-unidecode==1.3
jupyterlab_widgets==3.0.16
torchdata==0.11.0
fastcore==1.12.36
rfc3339-validator==0.1.4
jaraco.classes==3.4.0
fonttools==4.62.1
google-pasta==0.2.0
h5py==3.16.0
omegaconf==2.3.0
ipyevents==2.0.4
imagesize==2.0.0
iniconfig==2.3.0
etuples==0.3.10
mgwr==2.2.1
rpds-py==0.30.0
bigquery-magics==0.12.2
nbclient==0.10.4
accelerate==1.13.0
traittypes==0.2.3
libcugraph-cu12==26.2.0
gspread==6.2.1
pynndescent==0.6.0
mkl==2025.3.1
multiprocess==0.70.16
pyiceberg==0.11.1
Farama-Notifications==0.0.4
google-crc32c==1.8.0
umap-learn==0.5.12
libcudf-cu12==26.2.1
sqlalchemy-spanner==1.17.3
cryptography==43.0.3
pycryptodomex==3.23.0
regex==2025.11.3
glob2==0.7
roman-numerals-py==4.1.0
holoviews==1.22.1
nvidia-cudnn-cu12==9.10.2.21
shapely==2.1.2
bigframes==2.39.0
scikit-image==0.25.2
google-cloud-bigtable==2.36.0
pyogrio==0.12.1
jaraco.functools==4.4.0
httpimport==1.4.1
dask==2026.1.1
mdit-py-plugins==0.5.0
apsw==3.53.0.0
bleach==6.3.0
SQLAlchemy==2.0.49
peewee==4.0.4
llvmlite==0.43.0
pytz==2025.2
autograd==1.8.0
sphinxcontrib-qthelp==2.0.0
google-cloud-bigquery-storage==2.37.0
numpy==2.0.2
anyio==4.13.0
hyperopt==0.2.7
safehttpx==0.1.7
holidays==0.94
cuda-toolkit==12.8.1
sse-starlette==3.3.4
PyJWT==2.12.1
python-louvain==0.16
firebase-admin==6.9.0
gradio==5.50.0
soundfile==0.13.1
ptyprocess==0.7.0
esda==2.9.0
mcp==1.27.0
groovy==0.1.2
MarkupSafe==3.0.3
python-apt==0.0.0
SecretStorage==3.3.1
httplib2==0.20.2
lazr.restfulclient==0.14.4
importlib-metadata==4.6.4
jeepney==0.7.1
more-itertools==8.10.0
dbus-python==1.2.18
keyring==23.5.0
zipp==1.0.0
blinker==1.4
PyGObject==3.42.1
pyparsing==2.4.7
launchpadlib==1.10.16
oauthlib==3.2.0
distro==1.7.0
wadllib==1.3.6
PyJWT==2.3.0
cryptography==3.4.8
python-apt==2.4.0+ubuntu4.1
lazr.uri==1.0.6
six==1.16.0
MarkupSafe==2.0.1
Mako==1.1.3
Markdown==3.3.6
inflect==7.3.1
jaraco.collections==5.1.0
backports.tarfile==1.2.0
importlib_metadata==8.0.0
platformdirs==4.2.2
jaraco.text==3.12.1
jaraco.functools==4.0.1
more-itertools==10.3.0
tomli==2.0.1
typeguard==4.3.0
importlib_resources==6.4.0
packaging==24.1
jaraco.context==5.3.0
wheel==0.43.0
zipp==3.19.2
autocommand==2.2.2
typing_extensions==4.12.2
